@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    padding: 10px 50px;
    font-family: verdana; 
    line-height: 1.5;
    font-size: 15px;
    background: linear-gradient(to bottom, #000428, #004e92);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif; 

}



.button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover {
    background: rgba(255, 255, 255, 0.2);
}
.button.selected {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
.button.start {
    font-size: 20px;
    padding: 15px 30px;
    background: linear-gradient(to bottom, #ff9966, #ff5e00);
    border: none;
    color: white;
    box-shadow: 0 0 20px rgba(255, 94, 0, 0.5);
}
.button.start:hover {
    background: linear-gradient(to bottom, #ff5e00, #ff9966);
    box-shadow: 0 0 30px rgba(255, 94, 0, 0.7);
}
.slider {
    -webkit-appearance: none;
    width: 150px;
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-right: 10px;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #202020;
    cursor: pointer;
}
.range-label {
    margin-right: 10px;
}

.flex-container 
{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.flex-container.center 
{
    justify-content: center;
}

.flex-container.center > button 
{
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}


body {
    padding: 10px 50px;
    font-family: verdana; 
    line-height: 1.5;
    font-size: 15px;
    background: linear-gradient(to bottom, #000428, #004e92);
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Add blur shadow effect */
}
.button.selected {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
.button.start {
    font-size: 20px;
    padding: 15px 30px;
    background: linear-gradient(to bottom, #000428, #004e92); /* Matching background colors */
    border: 2px solid white;
    color: white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Add a brighter blur shadow effect */
}
.slider {
    -webkit-appearance: none;
    width: 150px;
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-right: 10px;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #202020;
    cursor: pointer;
}
.range-label {
    margin-right: 10px;
}

.flex-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.flex-container.center {
    justify-content: center;
}

.flex-container.center > button {
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas 
{
    margin: 0 auto;
}
